html {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {

    background-color: rgb(213 225 239);
 
}

p {
    margin: 0;
}


.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    margin-inline: auto;
    padding: 16px 16px 40px;
    text-align: center; 
    background-color: #fff;
    border-radius: 20px;
    

}

.card__qrcode {
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 10px;
}

.card__attribution {
    padding-inline: 16px;
      
}

.attribution__title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2; 
 }

.attribution__text {
    color: rgb(104 119 141);
    font-size: 15px;
    line-height: 1.4;
    
    letter-spacing: 0.2px;
}

.card__attribution a { 
    color: #ef7b7b;
    text-decoration: none;
   
}

.attribution__text:not(:last-child){
margin-bottom: 10px;
}

.attribution__text:last-child {
    font-size: 12px;
}
